<div class="col-sm-3">		
						
			<div class="">
				<uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default"
					is-open="status.Skills">
					<uib-accordion-heading> Skills <i
						class="pull-right glyphicon"
						 ng-class="{'glyphicon glyphicon-minus': status.Skills, 'glyphicon glyphicon-plus': !status.open}" ng-click="skillfunc()"></i>
					</uib-accordion-heading>
					<ul class="list-group" ng-repeat="s in skills">
					   <input type="checkbox" checklist-model="search1.skills" checklist-value="s.name"> {{s.name}} &nbsp;
					</ul>
				</div>
					<div uib-accordion-group class="panel-default" is-open="status.Job ">
					<uib-accordion-heading> Job Category <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Job , 'glyphicon glyphicon-plus': !status.open}" ng-click="jobcategoryfunc()"></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="c in Jobc">
					 <input type="checkbox" checklist-model="search1.jobCategory" checklist-value="c.jobCategory"> {{c.jobCategory}} &nbsp;
					</ul>
				</div>
				<div uib-accordion-group class="panel-default"
					is-open="status.Location">
					<uib-accordion-heading> Location<i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Location, 'glyphicon glyphicon-plus': !status.open}" ng-click="locationfunc()"></i>
					</uib-accordion-heading>

					<ul class=" list-group" ng-repeat="x in location">
					    <input type="checkbox" checklist-model="search1.city" checklist-value="x.location"> {{x.location}} &nbsp;
					</ul>
				</div>			
				<div uib-accordion-group class="panel-default"
					is-open="status.Experience">
					<uib-accordion-heading> Experience <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.Experience, 'glyphicon glyphicon-plus': !status.open}" ng-click="experiencefunc()"></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="e in experience">
					<input type="checkbox" checklist-model="search1.totalExperience" checklist-value="e.experience"> {{e.experience}}years &nbsp;
				
					</ul>
				</div>
			 	<div uib-accordion-group class="panel-default"
					is-open="status.company">
					<uib-accordion-heading> Top Vendors <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.company, 'glyphicon glyphicon-plus': !status.open}"></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="tc in company">
						<input type="checkbox" checklist-model="registration.registrationType" checklist-value="tc"> {{tc}} &nbsp;
						
					</ul>
				</div>
				<div uib-accordion-group class="panel-default"
					is-open="status.company1">
					<uib-accordion-heading> Budget <i
						class="pull-right glyphicon"
						ng-class="{'glyphicon glyphicon-minus': status.company, 'glyphicon glyphicon-plus': !status.open}"></i>
					</uib-accordion-heading>
					<ul class=" list-group" ng-repeat="tc in company">
						<input type="checkbox" checklist-model="registration.registrationType" checklist-value="tc"> {{tc}} &nbsp;
						
					</ul>
				</div>
				<br>
				<center>
					<button type="submit" class="btn primary">Clear filters</button>
					<button type="submit" class="btn primary" ng-click="search1(search1)">Submit</button>
				</center>
			</div>
		</div>	