<footer class="footer">
<div class="footercolor">
    <div class="container">
 <div class="row">
<div class="col-md-3">
    <ul>
    	<li class="lbrand padd"><a>Learn About ResourceAdda</a></li>
        <li class="line"><a class="anchor">About Us</a></li>
        <li class="line"><a class="anchor">Company Profile</a></li>
        <li class="line">   <a class="anchor">Contact Sales</a></li>
        <li class="line"><a class="anchor">Social Recruiting</a></li>
        
    </ul>
</div>
<div class="col-md-3 lines">
        
        <ul >
        <li class="lbrand padd"><a>ResourceAdda Services</a></li>
       <li  class="line" > <a class="anchor">The Report</a></li>
       <li  class="line"> <a class="anchor">Open Web</a></li>
       <li  class="line">  <a class="anchor">Browse Jobs</a></li>
       <li  class="line"> <a class="anchor">Browse Companies</a></li>
       <li  class="line"><a class="anchor">Skills Center</a></li></ul>
</div>
<div class="col-md-3 lines">
    
    <ul class="designs">
    <li class="lbrand padd"><a>ResourceAdda Sites</a></li>
    <li  class="line"> <a class="anchor">Browse Companies</a></li>
       <li  class="line"><a class="anchor">Skills Center</a></li>
</ul>
</div>
<div class="col-md-3 lines">
		<ul >
        <li class="lbrand padd"><a class="">ResourceAdda Every where</a></li>
       </ul>
        <div class="posi">
        <span><img src="images/twitter.png" class="img-reponsive" width="12%"></span>
        <span><img src="images/facebook.png" class="img-reponsive" width="12%"></span>
        <span><img src="images/google-plus.png"  class="img-reponsive" width="12%"></span>
        <div>
            <img src="images/apps.png" height="55px" class="img-reponsive" width="90px">
        </div>
        <div><img src="images/google.png" height="55px" class="img-reponsive" width="90px"></div>
        </div>
</div>
 </div>
    </div>
</div>
<div class="footer2">
   
     <p class="text-center paragh">Copyright ©1990 - 2018 ResourceAdda. All rights reserved. Use of this site is subject to certain Terms and Conditions.</p>
</div>
</div>
</footer>