
<div class="banner container  " id="rSlider">
<div style="max-width: 940px;" class="metaslider metaslider-flex metaslider-302 ml-slider nav-hidden">
    <div class="container">
    <div id="metaslider">
        <div id="metaslider_302" class="flexslider">
            <ul class="slides">
                <li style="display: block; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; z-index: 2;" class="slide-346 ms-image flex-active-slide">
               <center> <img src="images/aboutRA.jpg" height="280" width="940" alt="" class="slider-302 slide-346" draggable="false"></center></li>
            </ul>
        </div>
        
    </div>
   
</div>
<div class="container"><center><h2>About ResourceAdda</h2></center>
<p>
Word of the Day
chatbot
A chatbot (sometimes referred to as a chatterbot) is a computer program that attempts to simulate the conversation or "chatter" of a human 
being via text or voice interactions.

Word of the Day Archive
20 Newest and Updated Terms
HPE OneView (formerly HP OneView)
Wi-Fi Protected Access (WPA)
interconnection
RAID 10 (RAID 1+0)
mixed reality (hybrid reality, extended reality)
kinematics
collision sensor
marketing automation
immersive web
Amazon EBS (Elastic Block Store)
command line interface (CLI)
VMware vRealize Log Insight (formerly vCenter Log Insight)
software stack
bill of materials (BOM)
Microsoft Outlook on the web (formerly Outlook Web App, OWA)
crisis communication
System Restore
evil maid attack
value-based healthcare
cloud management platform
A vendor, also known as a supplier, is an individual or company that sells goods or services to someone else in the economic production 
chain. 

Vendors are a part of the supply chain: the network of all the individuals, organizations, resources, activities and technology involved
 in the creation and sale of a product, from the delivery of source materials from the supplier to the manufacturer, through to its eventual
  delivery to the end user.</p> 
  </div>
</div>
</div>