<div class="container m-t-50">
  <div class="row">
  
      <div class="col-md-offset-3 col-md-6" ng-show="showBulk">
      <center><h3>Post Requirement on Resource Adda Now</h3></center>
      <hr>
          <form name="frm" class="frmbgclr" ng-submit="addReq()">
         
         
          <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">
                <!-- <div class="form-group">
                  <label class="control-label">Company Name</label>
                      <select class="form-control" ng-options="x for x in companyNameList" ng-change="companyid()" ng-model="companyName1" name="companyName" required>
                        <option value="">Select CompanyName</option>
                      </select>
                  <span class="help-block" ng-show="frm.companyName.$dirty && frm.companyName.$invalid">Please select company Name..!!</span>
                </div>-->
                 <div class="animate-switch" ng-switch-default name="">
                 <div>
                 			 <h3>Job Details</h3><br><ul class="bootstrapWizard form-wizard ">
                                        <li class="active" data-target="#step1">
                                             <span class="step"><span class="fa fa-briefcase"></span></span>  
                                        </li>
                                        <li data-target="#step2" class="">
                                            <span class="step"><span class="fa fa-tags"></span></span>  
                                        </li>
                                        <li data-target="#step3" class="">
                                            <span class="step"><span class="fa fa-users"></span></span> 
                                        </li>
                                        <li data-target="#step4" class="">
                                            <span class="step"><span class="glyphicon glyphicon-ok"></span></span> 
                                        </li>
                                       
                                    </ul>
                                    </div><br>
                 
                <input type="hidden" name="description" ng-model="postrequirement.registrationId"/><br><br>
           
                    <div class="form-group" >
                    <label class="control-label">Job Category</label><span class="red">*</span>:
                          <input type="text" ng-model="postrequirement.jobCategory" name="jobcategory"  maxlength="28" ng-pattern="/^[a-zA-Z\s]*$/"  id="jobcategory" class="form-control" list="job" required>
                         
                        
                        <datalist id="job" >
    						<option  data-ng-repeat="x in jobcategoryies " value="{{x.jobCategory}}" ></option>
  							</datalist>
  							 <span class="help-block" ng-show="frm.jobcategory.$dirty && frm.jobcategory.$error.required">Required.!</span>
  							 <span class="help-block" ng-show="frm.jobcategory.$touched && frm.jobcategory.$pristine">Please Enter Job Category</span>
  							 <span class="help-block" ng-show="frm.jobcategory.$error.pattern && frm.jobcategory.$invalid ">Enter Valid Job Category</span>
                </div>
                
                <div class="form-group" >
                    <label class="control-label">Job Type</label><span class="red">*</span>:
                        <select class="form-control" ng-model="postrequirement.jobType" name="jobtype"  required>
                            <option  ng-repeat="x in jobtypelist" value="{{x.jobType}}">{{x.jobType}}</option>      
                        </select> 
                         <span class="help-block" ng-show="frm.jobtype.$dirty && frm.jobtype.$error.required">Required.!</span>
                        <span class="help-block" ng-show="frm.jobtype.$touched && frm.jobtype.$pristine"></span>
                </div>
                <div class="form-group">
                  <label class="control-label">Title for your job</label><span class="red">*</span>:
                  <input type="text" class="form-control" name="jobtitle" maxlength="26" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="postrequirement.jobTitle" placeholder="Enter Your Job Title" required> 
                    <span class="help-block" ng-show="frm.jobtitle.$dirty && frm.jobtitle.$error.required">Required.!</span>
                     <span class="help-block" ng-show="frm.jobtitle.$touched && frm.jobtitle.$pristine">Please Enter Job Title</span>
                     <span class="help-block" ng-show="frm.jobtitle.$error.pattern && frm.jobtitle.$invalid ">Enter Valid Job title</span>
                </div>
				 <div class="form-group">
                    <label class="control-label">Job Role</label><span class="red">*</span>:
                          <input type="text" ng-model="postrequirement.jobRole" maxlength="28" name="jobRole" ng-pattern="/^[a-zA-Z\s]*$/"  id="jobRole" class="form-control" list="role" required>
                          
                        
                        <datalist id="role">
    						<option  data-ng-repeat="x in jobRole" value="{{x}}"></option>
  							</datalist>
  							<span class="help-block" ng-show="frm.jobRole.$dirty && frm.jobRole.$error.required">Required.!</span>
                     <span class="help-block" ng-show="frm.jobRole.$touched && frm.jobRole.$pristine">Please Enter Job Role</span>
                     <span class="help-block" ng-show="frm.jobRole.$error.pattern && frm.jobRole.$invalid ">Enter Valid Job Role</span>
  							
                </div>
                <div class="form-group">
                  <label class="control-label">Job Description</label><span class="red">*</span>:
                  <textarea class="form-control" rows="5" maxlength="256" name="description" ng-model="postrequirement.description" required></textarea>
                         <span class="help-block" ng-show="frm.description.$dirty && frm.description.$error.required">Required.!</span>
                        <span class="help-block" ng-show="frm.description.$touched && frm.description.$pristine">please enter Job Description</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Work Location</label><span class="red">*</span>:
                    <select class="form-control" ng-options="y for y in joblocation" ng-model="postrequirement.jobLocation" name="joblocation" required>
                           <option value="">Select Job Location</option>
                    </select>
                         <span class="help-block" ng-show="frm.joblocation.$dirty && frm.joblocation.$invalid">Please Select Job Location..!!</span> 
                </div>
                <button type="button" class="btn btn-danger" ui-sref="RA.postarequirementlist">
				<i class="	glyphicon glyphicon-share"></i>&nbsp;Go Back
				</button>
                <button type="button" class="btn btn-primary" ng-click="next('stage1')" ng-disabled="frm.$invalid">Next</button>
        </div>
                    <!-- <div class="form-group">
                        <label class="control-label">Rate Type</label>:<span class="red">*</span>
                        <input type="text" class="form-control" name="ratetype" ng-model="postrequirement.rateType" placeholder="Enter Your Rate Type" required>
                        <span class="help-block" ng-show="frm.ratetype.$dirty && frm.ratetype.$error.required">Required.!</span>
                        <span class="help-block" ng-show="frm.ratetype.$error.pattern && frm.ratetype.$invalid ">please enter rate type..!!</span> 
                    </div> -->
                    <div class="animate-switch" ng-switch-when="stage1">
                    <div>
                 			 <h3>Professional Details</h3><br><ul class="bootstrapWizard form-wizard  b">
                                        <li class="" data-target="#step1">
                                             <span class="step"><span class="fa fa-briefcase"></span></span>  
                                        </li>
                                        <li data-target="#step2" class="active">
                                            <span class="step"><span class="fa fa-tags"></span></span>  
                                        </li>
                                        <li data-target="#step3" class="">
                                            <span class="step"><span class="fa fa-users"></span></span> 
                                        </li>
                                        <li data-target="#step4" class="">
                                            <span class="step"><span class="glyphicon glyphicon-ok"></span></span> 
                                        </li>
                                       
                                    </ul>
                                    </div><br>
                                    <div class="row">
                                     <div class="col-sm-6">
                                    <div class="form-group">
                            <label class="control-label">Budget<span style="font-size:12px;color:#ff7800"><span></span></label><span class="red">*</span>:
                            <input type="text" class="form-control" name="Budget" ng-model="postrequirement.budget" ng-pattern="/^\d{1,8}$/" maxlength="6" placeholder="Enter Your Budget" required>
                             <span class="help-block" ng-show="frm.Budget.$dirty && frm.Budget.$error.required">Required..!</span>
                            <span class="help-block" ng-show="frm.Budget.$touched && frm.Budget.$pristine">Please Enter Budget.!!</span>
                            <span class="help-block" ng-show="frm.Budget.$error.pattern && frm.Budget.$invalid ">Enter Budget in numbers only</span>
                        </div></div>
                                    <div class="col-sm-6"> 
                     <div class="form-group">
                    <label class="control-label">Rate Type</label><span class="red">*</span>:
                    <select class="form-control" ng-options="r for r in Rate" ng-model="postrequirement.rateType" name="ratetype" required>
                           <option value="">Select Your Rate Type</option>
                    </select>
                        <span class="help-block" ng-show="frm.ratetype.$dirty && frm.ratetype.$error.required">Required.!</span>
                        <span class="help-block" ng-show="frm.ratetype.$error.pattern && frm.ratetype.$invalid ">please enter rate type..!!</span> 
                </div>
                </div>
                </div>
                <div class="form-group">
							<label class="control-label" for="relocate">GST
								</label><span class="red">*</span>:
								<label for="chkPassport">  
								 <input type="radio" class="size" ng-model="postrequirement.gst" value="Excluding GST" name="gst" />Excluding GST &nbsp;&nbsp;
								 <input type="radio" class="size"  ng-model="postrequirement.gst" Value="Including GST"name="gst"  />Including GST
						</label>
								 <span class="help-block"
								ng-show="frm.relocate.$dirty && frm.relocate.$invalid">Please
								select GST option.!!</span>
						</div>
                  <div class="form-group">
                            <label class="control-label">Highest Qualification</label><span class="red">*</span>:
                            <input type="text" class="form-control" name="Education" maxlength="26" ng-pattern="/^[A-Za-z@~`!@#$%^&*()_=+\\\\';:\\\/?>.<, -]*$/" ng-model="postrequirement.qualifications" placeholder="Enter Your higher Education" required>
                              <span class="help-block" ng-show="frm.Education.$dirty && frm.Education.$error.required">Required.!</span>
                     <span class="help-block" ng-show="frm.Education.$touched && frm.Education.$pristine">Please Enter Your Highest degree</span>
                     <span class="help-block" ng-show="frm.Education.$error.pattern && frm.Education.$invalid ">Enter Valid Degree</span>
                        </div>
                    <div class="form-group">
						<label class="control-label" for="experience">
								Experience</label><span class="red">*</span>:
								<div class="row">
								<div class="col-sm-6">
								
						<select  class="form-control" ng-options=" yr for yr in yearsOfExperience" ng-model="postrequirement.yearsOfExperience" name="year" required>
                       
                </select>
                
                
                <span class="help-block"
								ng-show="frm.year.$dirty && frm.year.$invalid">Please
								select Years of Experience.!!</span>
                </div>
                <div class="col-sm-6">
               
                <select  class="form-control" ng-options="me for me in monthsOfExperience" ng-model="postrequirement.monthsOfExperience" name="month" required>
                       
                    </select>
                    
								
                     <span class="help-block"
								ng-show="frm.month.$dirty && frm.month.$invalid">Please
								select Months of  Experience.!!</span>
                    </div>
                    
						</div>
						</div>    
						<div class="form-group" >
							<label class="control-label">Primary Skills</label><span class="red">*</span>:
							<select class="form-control" multiple name="primarySkills" ng-model="postrequirement.primarySkills">
							<option ng-repeat="y in primarySkillslist" value="{{y.primarySkills}}">{{y.primarySkills}}</option>
							</select>
							
						</div>
						<div class="form-group" >
							<label class="control-label">Secondary Skills</label><span class="red">*</span>:
							<select class="form-control" multiple name="secondarySkills" ng-model="postrequirement.secondarySkills">
						<option ng-repeat="secondary in secondaryskillslist" value="{{secondary.secondarySkills}}">{{secondary.secondarySkills}}</option>
						 </select>
						</div>
						<button type="button" class="btn btn-info" ng-click="back('')">Back</button>
          <button type="button" class="btn btn-primary" ng-click="next('stage2')" ng-disabled="frm.$invalid">Next</button>
						</div>
						<div class="animate-switch" ng-switch-when="stage2">
						<div>
                 			 <h3>Man power Details</h3><br><ul class="bootstrapWizard form-wizard c">
                                        <li class="" data-target="#step1">
                                             <span class="step"><span class="fa fa-briefcase"></span></span>  
                                        </li>
                                        <li data-target="#step2" class="">
                                            <span class="step"><span class="fa fa-tags"></span></span>  
                                        </li>
                                        <li data-target="#step3" class="active">
                                            <span class="step"><span class="fa fa-users"></span></span> 
                                        </li>
                                        <li data-target="#step4" class="">
                                            <span class="step"><span class="glyphicon glyphicon-ok"></span></span> 
                                        </li>
                                       
                                    </ul><br><br><br>
                                    </div>
						
                        <div class="form-group">
                            <label class="control-label">No of Resources</label><span class="red">*</span>:
                            <input type="text" class="form-control" name="resources"  ng-pattern="/^\d{1,5}$/" maxlength="4" ng-model="postrequirement.resources" placeholder="Enter No of Resources" required>
                             <span class="help-block" ng-show="frm.resources.$dirty && frm.resources.$error.required">Required..!</span>
                            <span class="help-block" ng-show="frm.resources.$touched && frm.resources.$pristine">Please Enter Resources!!</span>
                            <span class="help-block" ng-show="frm.resources.$error.pattern && frm.resources.$invalid ">Enter Resources in numbers only</span>
                        </div>
                        
                        <div class="form-group" ng-init="notice()">
                            <label class="control-label">Join Within</label><span class="red">*</span>:
                            <select class="form-control" ng-model="postrequirement.joinWithin" name="joinwithin" required>
                            <option ng-repeat="join in noticelist" value="{{join.joinWithIn}}">{{join.joinWithIn}}</option>
                            </select>
                             <span class="help-block" ng-show="frm.joinwithin.$dirty && frm.joinwithin.$invalid">Please select Join within..!!</span>
                           <span class="help-block" ng-show="frm.joinwithin.$touched && frm.joinwithin.$pristine">Please Enter Notice period..!!</span>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="mobile">Customer Contact Number</label><span class="red">*</span>:
                          <input type="text" class="form-control" name="mobile" ng-model="postrequirement.phoneNumber" maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" placeholder="Enter your Contact Number" required>
                          <span class="help-block" ng-show="frm.mobile.$dirty && frm.mobile.$error.required">Required.!</span>
                          <span class="help-block" ng-show="frm.mobile.$error.pattern && frm.mobile.$invalid ">Enter Valid Contact Number..!</span>
                        </div>
                        
                        <b class="text-center"><span class="red">* fields are mandatory</span></b>
                    
                     <button type="button" class="btn btn-info" ng-click="back('stage1')">Back</button>
                     <button type="button" class="btn btn-primary" ng-click="next('stage3')" ng-disabled="frm.$invalid">Next</button>
                     </div>
                     <div class="animate-switch" ng-switch-when="stage3">
                     <div>
                 			 <h3>Job Summary</h3><br><ul class="bootstrapWizard form-wizard c">
                                        <li class="" data-target="#step1">
                                             <span class="step"><span class="fa fa-briefcase"></span></span>  
                                        </li>
                                        <li data-target="#step2" class="">
                                            <span class="step"><span class="fa fa-tags"></span></span>  
                                        </li>
                                        <li data-target="#step3" class="">
                                            <span class="step"><span class="fa fa-users"></span></span> 
                                        </li>
                                        <li data-target="#step4" class="active">
                                            <span class="step"><span class="glyphicon glyphicon-ok"></span></span> 
                                        </li>
                                       
                                    </ul><br><br><br>
                                    </div>
                     
                    <div class="row">
                    <div class="col-sm-10">
                     <label class="control-label">Job Category</label>:<span>{{postrequirement.jobCategory}}</p><br>
                     <label class="control-label">JobType</label>:<span>{{postrequirement.jobType.jobType}}</p><br>
                     <label class="control-label">JobTitle</label>:<span>{{postrequirement.jobTitle}}</p><br>
                     <label class="control-label">Description</label>:<span>{{postrequirement.description}}</p><br>
                     <label class="control-label">Job Role</label>:<span>{{postrequirement.jobRole}}</p><br>
                     <label class="control-label">Job Location</label>:<span>{{postrequirement.jobLocation}}</p><br>
                     <label class="control-label">Rate Type</label>:<span>{{postrequirement.rateType}}</p><br>
                     <label class="control-label">Budget</label>:<span>{{postrequirement.budget}}</p><br>
                     <label class="control-label">Higher Education</label>:<span>{{postrequirement.qualifications}}</p><br>
                     <label class="control-label">Experience</label>:<span>{{postrequirement.yearsOfExperience}}-{{postrequirement.monthsOfExperience}}</p><br>
                     <label class="control-label">Primary Skills</label>:<span>{{postrequirement.primarySkills.primarySkills}}</p><br>
                     <label class="control-label">Secondary Skills</label>:<span>{{postrequirement.secondarySkills.secondarySkills}}</p><br>
                     <label class="control-label">No of Resources</label>:<span>{{postrequirement.resources}}</p><br>
                     <label class="control-label">Join Within</label>:<span>{{postrequirement.joinWithin.joinWithIn}}</p><br>
                     <label class="control-label">Mobile Number</label>:<span>{{postrequirement.phoneNumber}}</p><br>
            			</div>
            			</div>
         			 <div class="form-group">
         			 <button type="button" class="btn btn-info" ng-click="back('stage2')">Back</button>
                      <button type="submit" class="btn btn-primary pull-right" ng-disabled="frm.$invalid" >Submit</button>
                    </div>  
        			</div>   
    </div></form>
    </div>
    </div>
</div>