<div class="container" style="margin-top: 10px;">    
    <div class="container banner-preview">    
    <h3 class="text-center">Review Product</h3>
    
    <div class="preview-banner">
			   	<div class="col-md-7 col-md-offset-1" >
			      	    	
			      	<h4>{{plandetails.month}} </h4>
			      	<h4>{{plandetails.vacancy}}</h4>
			      	<h4>{{plandetails.cv}}</h4>
			      	<h4>{{plandetails.email}}</h4>
			      	</div>
			      	
			      	  	<div class="col-md-4" >
			      		<p><h5>Product Price:Rs {{plandetails.rate}}.00</h5></p><br/><br/><br/><br/>
			      		<div class="col-md-3" style="">
			      		<strong>Total </strong>
			      		</div>
			      		<div class="col-md-8 col-md-offset-1">
			      		<strong>:Rs {{plandetails.rate}}.00</strong>   <br/>   		
			      		</div><br/><br/><br/>
			      		<button type="submit" class="btn btn-primary" ui-sref="RA.buynow">BACK</button>
			      		<button type="submit" class="btn btn-primary" ui-sref="RA.payment" >PROCEED</button>
			      		
			      	</div>
    </div>
</div> 
    
    </div>
    
    
 